@model IEnumerable<Hotel20.Models.Thue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-container {
        width: 1000px;
        margin: 0 auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ff69b4;
            text-align: center;
            padding: 8px;
        }

        .table th {
            background-color: #f2f2f2;
        }

    .action-links a {
        border-radius: 3px;
        background-color: #e82574;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
    }

    .action-links1 a {
        color: #e82574;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
        margin-right: 5px;
        margin-bottom: 50px;
    }

    .action-links a:hover {
        background-color: #d1145c;
    }

    .booked-room {
        background-color: #f8d7da; /* Màu nền đỏ nhạt cho các phòng đã đặt */
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenThue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhanTramThue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenThue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanTramThue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ThueID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ThueID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ThueID })
            </td>
        </tr>
    }

</table>
